<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Include Choices CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css">
    <!-- Include Choices JavaScript -->
    <link rel="icon" href="/logo.png" type="image/gif" sizes="16x16">

    <title>DeveloperJobs</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">

        <a class="navbar-brand" href="/">
            <img src="/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            DeveloperJobs
        </a>
        <div class="navbar-nav mr-auto">
            <ul class="nav navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="http://sylvain.alwaysdata.net">Qui suis-je ?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mailing/liste">Mailing List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linkedin.com/in/sylvain-joly-3a7152aa/detail/recent-activity/shares/"><i
                                class="fa fa-linkedin"></i></a>
                </li>

            </ul>

        </div>

        <div class="nav navbar-right">
            <li class="nav-item dropdown">
                <a class="btn btn-secondary btn-lg" href="/jobs">
                    Poster une offre pour 4.99€
                </a>

        </div>
    </div>
</nav>

<div class="container">

    <div class="card mt-5 mb-3">
        <div class="card-body">
            <h5 class="card-title text-center">Création d'une offre d'emploi</h5>
            <p class="text-center"> Créér et partager une offre d'emploi avec des milliers de spécialistes du web et du
                digital en seulement 5 minutes ! </p>
            <div class="text-center row m-3">
                <div class="col"> ✅ Partage avec l'emailing list de DeveloperJobs</div>
                <div class="col"> ✅ Partage de votre offre avec des miliers de professionnels (Linkedin)</div>
            </div>
            <hr>
            <form id="announceForm">
                <div class="form-group">
                    <label for="position">Position<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="position" placeholder="Intitulé du poste" required
                           name="position">
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_position">
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactEmail">Email de contact<span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="contactEmail" placeholder="Email de contact" required
                           name="contactEmail">
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_emailContact">
                    </div>
                </div>
                <div class="form-group">
                    <label for="location">Localisation<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="location" placeholder="Localisation du poste" required
                           name="location">
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_location">
                    </div>
                </div>
                <div class="form-group">
                    <label for="companyName">Entreprise<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="companyName" placeholder="Nom de l'entreprise" required
                           name="companyName">
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_companyName">
                    </div>
                </div>
                <div class="form-group">
                    <label for="companyUrl">Lien du site de l'entreprise</label>
                    <input type="text" class="form-control" id="companyUrl" required
                           placeholder="Lien vers le site de l'entreprise" name="companyUrl">
                    <p class="small font-weight-light">Example : https://www.yourCompany.com</p>
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_companyUrl">
                    </div>
                </div>
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="isRemoteFriendly" name="isRemoteFriendly">
                    <label class="form-check-label" for="isRemoteFriendly">Remote friendly</label>
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_isRemoteFriendly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Description<span class="text-danger">*</span><small>( type de contrat, salaire, missions ...)</small></label>
                    <textarea name="description" class="form-check-input editor" id="description"></textarea>
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="responsibilities">Responsabilités<span class="text-danger">*</span></label>
                    <textarea name="responsibilities" class="form-check-input editor2" id="responsibilities"></textarea>
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_responsibilities">
                    </div>
                </div>
                <div class="form-group">
                    <label for="requirements">Compétences<span class="text-danger">*</span></label>
                    <textarea name="requirements" class="form-check-input editor3" id="requirements"></textarea>
                    <div class="alert alert-danger mt-1 d-none" role="alert" id="error_requirements">
                    </div>
                </div>
                <div class="form-group">
                    <label for="tags">Tags<span class="text-danger">*</span></label>
                    <select name="tags" id="tags" placeholder="Tags technologies ..." multiple class="form-control">
                        <option value="Node.js">Nodejs</option>
                        <option value="Go">Go</option>
                        <option value="Javascript">Javascript</option>
                        <option value="C">C</option>
                        <option value="PHP">PHP</option>
                        <option value="C++">C++</option>
                        <option value="Python">Python</option>
                        <option value="Java">Java</option>
                        <option value="J2EE">J2EE</option>
                        <option value="JavaEE">JavaEE</option>
                        <option value="Spring Boot">Spring Boot</option>
                        <option value="Thymeleaf">Thymeleaf</option>
                        <option value="ejs">ejs</option>
                        <option value="JQuery">JQuery</option>
                        <option value="Ember">Ember</option>
                        <option value="Vue.js">Vue.js</option>
                        <option value="Angular.js">Angular.js</option>
                        <option value="Angular">Angular</option>
                        <option value="Symfony">Symfony</option>
                        <option value="Agile">Agile</option>
                        <option value="Scrum">Scrum</option>
                        <option value="Git">Git</option>
                        <option value="Cloud">Cloud</option>
                        <option value="Microservice">Microservice</option>
                        <option value="MongoDB">MongoDB</option>
                        <option value="Redis">Redis</option>
                        <option value="MySQL">MySQL</option>
                        <option value="RabbitMQ">RabbitMQ</option>
                        <option value="Twig">Twig</option>
                        <option value="Ruby">Ruby</option>
                        <option value="Rust">Rust</option>
                        <option value="Laravel">Laravel</option>
                        <option value="CakePHP">CakePHP</option>
                        <option value="React">React</option>
                        <option value="React-native">React-native</option>
                        <option value="Android">Android</option>
                        <option value="IOS">IOS</option>
                        <option value="Swift">Swift</option>
                        <option value="Kotlin">Kotlin</option>
                        <option value="Docker">Docker</option>
                        <option value="AWS">AWS</option>
                        <option value="GCP">GCP</option>
                        <option value="Azure">Azure</option>
                        <option value="HTML">HTML</option>
                        <option value="CSS">CSS</option>
                        <option value="ExpressJS">ExpressJS</option>
                        <option value="MEAN">MEAN</option>
                        <option value="C#">C#</option>
                        <option value="PWA">PWA</option>
                        <option value="SaaS">SaaS</option>
                        <option value="Data Scientist">Data Scientist</option>
                        <option value="Lead Developer">Lead Developer</option>
                        <option value="CTO">CTO</option>
                        <option value="Backend">Backend</option>
                        <option value="Frontend">Frontend</option>
                        <option value="Junior">Junior</option>
                        <option value="Senior">Senior</option>
                        <option value="MariaDB">MariaDB</option>
                        <option value="Linux">Linux</option>
                        <option value="PostgreSQL">PostgreSQL</option>
                        <option value="Oracle">Oracle</option>
                        <option value="Manager">Manager</option>
                        <option value="Product Owner">Product Owner</option>
                        <option value="Photoshop">Photoshop</option>
                        <option value="Anglais">Anglais</option>
                        <option value="NativeScript">NativeScript</option>
                        <option value="TypeScript">TypeScript</option>
                        <option value="OpenGL">OpenGL</option>
                        <option value="WebGL">WebGL</option>
                        <option value="Wasm">Web Assembly</option>
                        <option value="Shell">Shell</option>
                        <option value="IoT">IoT</option>
                        <option value="AI">AI</option>
                        <option value="Algorithme">Algorithme</option>
                        <option value="Elasticsearch">Elasticsearch</option>
                        <option value="GraphQL">GraphQL</option>
                        <option value="JPA">JPA</option>
                        <option value="Mongoose">Mongoose</option>
                        <option value="Hibernate">Hibernate</option>
                        <option value="PHPUnit">PHPUnit</option>
                        <option value="Tests">Tests</option>
                        <option value="Sequelize">Sequelize</option>
                        <option value="API">API</option>
                        <option value="REST">REST</option>
                        <option value="SOAP">SOAP</option>
                        <option value="JWT">JWT</option>
                        <option value="Json">Json</option>
                        <option value="Django">Django</option>
                        <option value="HTTPS">HTTPS</option>
                        <option value="MACOS">MacOS</option>
                        <option value="Windows">Windows</option>
                        <option value="Pip">pip</option>
                        <option value="Npm">Npm</option>
                        <option value="Cargo">Cargo</option>
                        <option value="Composer">Composer</option>
                        <option value="Terminal">Terminal</option>
                        <option value="Maven">Maven</option>
                        <option value="Gradle">Gradle</option>
                        <option value="Jenkis">Jenkis</option>
                        <option value="Travis">Travis</option>
                        <option value="CI/CD">CI/CD</option>
                        <option value="Anaconda">Anaconda</option>
                        <option value="R">R</option>
                        <option value="Fortran">Fortran</option>
                        <option value="OCaml">OCaml</option>
                        <option value="Clojure">Clojure</option>
                        <option value="Cobol">Cobol</option>
                        <option value="SQLite">SQLite</option>
                        <option value="Cassandra">Cassandra</option>
                        <option value="Julia">Julia</option>
                        <option value="Developpement Web">Developpement Web</option>
                        <option value="Developpement Mobile">Developpement Mobile</option>
                        <option value="Fullstack">fullstack</option>
                        <option value="DevOps">DevOps</option>
                        <option value="Ingénieur Logiciel">Ingénieur Logiciel</option>
                        <option value="Design Pattern">Design Pattern</option>
                        <option value="MVC">MVC</option>
                        <option value="MVP">MVP</option>
                        <option value="MVVM">MVVM</option>
                        <option value="International">International</option>
                        <option value="Remote">Remote</option>
                        <option value="Full remote">Full remote</option>
                    </select>
                </div>
                <div class="alert alert-danger mt-1 d-none" role="alert" id="error_tags">
                </div>
                <div>
                    <p class="alert alert-warning text-center">En cliquant sur <strong>Continuer</strong>, vous acceptez que cette offre soit publiée et visible sur Linkedin.</p>
                </div>
                <div class="text-right mt-2">
                    <button type="submit" class="btn btn-lg btn-success" id="btnSubmit">Continuer</button>
                </div>

            </form>
        </div>
    </div>

</div>


<footer class="footer mt-4">
    <div class="container">
        <p class="text-center">Made with <i class="fa fa-heart" style="color: red"></i> by <a
                    href="http://sylvain.alwaysdata.net/">Joly Sylvain</a></p>
        <p  class="text-center"><small><i class="fa fa-envelope"></i> developerjobs.service@gmail.com</small></p>
        <p  class="text-center"><small><i class="fa fa-phone"></i> +33642561130</small></p>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/12.3.1/classic/ckeditor.js"></script>
<script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

<script>
    ClassicEditor
        .create(document.querySelector('.editor'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                    {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                    {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                ]
            }
        })
        .catch(error => {
        console.log(error);
    } )
    ;

    ClassicEditor
        .create(document.querySelector('.editor2'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                    {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                    {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                ]
            }
        })
        .catch(error => {
        console.log(error);
    } )
    ;

    ClassicEditor
        .create(document.querySelector('.editor3'), {
            toolbar: ['heading', '|', 'bold', 'italic', 'link', 'bulletedList', 'numberedList', 'blockQuote'],
            heading: {
                options: [
                    {model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph'},
                    {model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1'},
                    {model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2'}
                ]
            }
        })
        .catch(error => {
        console.log(error);
    } )
    ;


    var secondElement = new Choices('#tags', {
        allowSearch: true,
        removeItemButton: true,
        duplicateItemsAllowed: false,
        loadingText: 'Chargement ...',
        noResultsText: 'Pas de résultat',
        noChoicesText: 'Aucun résultat pour',
        itemSelectText: 'Cliquer pour sélectionner',
        renderChoiceLimit: 10,
        maxItemCount: 10,
        maxItemText: (maxItemCount) => {
        return `Limit de ${maxItemCount} tags atteinte`;
    }
    }).setValue([]);


    var choiceTags = [];

    $(document).ready(function () {
        $('#tags').on('change', function () {
            choiceTags = $(this).val(); // return array
        });
    });


    $("#announceForm").submit(function (e) {
        e.preventDefault();
        $("#btnSubmit").attr("disabled", true);

        var checked = false;
        if ($('#isRemoteFriendly').is(":checked")) {
            checked = true;
        }

        fetch("/jobs", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                position: $("#position").val(),
                location: $("#location").val(),
                companyName: $("#companyName").val(),
                companyUrl: $("#companyUrl").val(),
                isRemoteFriendly: checked,
                description: $("#description").val(),
                responsibilities: $("#responsibilities").val(),
                requirements: $("#requirements").val(),
                contactEmail: $("#contactEmail").val(),
                tags: choiceTags
            })
        })
            .then(function (response) {
                response.json().then(function (data) {
                    setTimeout( function(){
                        if (response.status !== 200) {
                            for(var i in data.errors){
                                let idErr = `error_${i}`;
                                $('#'+idErr).addClass("d-block")
                                $('#'+idErr).text(data.errors[i])
                            }
                            $("#btnSubmit").attr("disabled", false);
                        } else {
                            location.href = `/checkout?token=${data.data}`
                            $("#btnSubmit").attr("disabled", false);
                        }

                        $("#btnSubmit").attr("disabled", false);

                        return data
                    },500)
                })

            })
            .catch(function (err) {
                setTimeout( function() {
                    $("#btnSubmit").attr("disabled", false);
                }, 500)
            })
    });
</script>
</body>
</html>